.container {
    font-family: sans-serif;
    margin: auto;
    display: flex; /* Use 'display' instead of 'position' to set it as a flex container */
    flex-direction: column; /* Add this to make the children stack vertically */
    align-items: center; /* Center items horizontally */
    width: 40%;
    background-color: azure;
    border-radius: 6px;
    margin-top: 50px;
    font-size: 150%;
}

h1 {
    text-align: center; /* Center align the text */
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

.flex {
    display: flex; /* Use 'display' instead of 'position' to set it as a flex container */
    align-items: center; /* Center items horizontally */
    margin: 10px;
}

.imageStyle  {
    width: 200px;
    height: 255px; 
    object-fit: cover; /* Use 'object-fit' instead of 'objectFit' */
    margin: 20px;
}

/* Additional styles for the "Or" text */
.flex > b {
    margin: 0 20px; /* Add margin for spacing on both sides of the "Or" text */
    font-size: 24px; /* You can adjust the font size as needed */
}
